<!-- header01を配置したい会社情報の部分に、以下のように記述する
    <div id="businesshours"></div>
    <script src="/scripts/businesshours.js"></script>
-->

                        <div class="row justify-content-evenly">
                            <div class="col text-center">
                                <h2>営業</h2>
                            </div>
                        </div>
                        <div class="row justify-content-evenly">
                            <div class="col text-start">
                                <ul>
                                    <li>営業時間
                                        <ul>
                                            <li>平日 9:00～17:30</li>
                                        </ul>
                                    </li>
                                    <li>休業日
                                        <ul>
                                            <li>土・日・祝日</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

