<!-- header01を配置したい会社情報の部分に、以下のように記述する
    <div id="companyinfo"></div>
    <script src="/scripts/companyinfo.js"></script>
-->

                        <div class="row justify-content-evenly">
                            <div class="col text-center">
                                <h2>会社情報</h2>
                            </div>
                        </div>
                        <div class="row justify-content-evenly">
                            <div class="col-sm-12 col-lg-7 text-start">
                                <ul>
                                    <li>会社名
                                        <ul>
                                            <li>株式会社LW （エルダブリュー）</li>
                                            <li>英語表記： LW Inc.</li>
                                        </ul>
                                    </li>
                                    <li>設立
                                        <ul>
                                            <li>2024年10月4日</li>
                                        </ul>
                                    </li>
                                    <li>所在地
                                        <ul>
                                            <li>〒160-0023 東京都新宿区西新宿三丁目3番13号 西新宿水間ビル6階</li>
                                        </ul>
                                    </li>
                                    <li>法人番号
                                        <ul>
                                            <li>8011101109085</li>
                                            <li>適格請求書発行事業者登録済み</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-5">
                                <img src="/resources/lwlogo_strong.png" alt="LW Logo" class="logo"><!-- 全ページ共通のlogoを使用 -->
                            </div>
                        </div>
