<!-- contactを配置したい会社情報の部分に、以下のように記述する
    <div id="contact"></div>
    <script src="/scripts/contact.js"></script>
-->

                        <div class="row justify-content-evenly">
                            <div class="col text-center">
                                <h2>お問い合わせ</h2>
                            </div>
                        </div>
                        <div class="row justify-content-evenly">
                            <div class="col text-start">
                                <ul>
                                    <li>Tel
                                        <ul>
                                            <li>090-7759-5172</li>
                                        </ul>
                                    </li>
                                    <li>Email
                                        <ul>
                                            <li>company_info@lw-techit.com</li>
                                        </ul>
                                    </li>
                                    <li><a href="https://works.do/xr1SZko" target="_blank" rel="noopener noreferrer">LINE WORKS<span class="icon-external-link"></span></a>
                                        <ul>
                                            <li>トークID： susumoto@lw-techit</li>
                                            <li>ユーザー名： 臼元晋</li>
                                        </ul>
                                    </li>
                                    <li><a href="https://www.lancers.jp/profile/LW_Inc" target="_blank" rel="noopener noreferrer">ランサーズ Lancers<span class="icon-external-link"></span></a>
                                        <ul>
                                            <li>ユーザー名： LW_Inc</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
