<!-- footerを配置したいbodyの末尾に、以下のように記述する
    <div id="footer"></div>
    <script src="/scripts/footer.js"></script>
-->

<footer>
    <div class="container text-center">
        <div class="mt-3 mb-3 pb-3 row justify-content-evenly">
            <div class="col-sm-3 col-md-3">
                <a href="/policy/index.html#privacypolicy">プライバシーポリシー</a>
            </div>
            <div class="col-sm-3 col-md-3">
                <a href="/policy/index.html#disclaimer">免責事項</a>
            </div>
        </div>

        <div class="mt-3 row justify-content-evenly">
            <div class="col-sm-9 col-lg-9">
                <p>&copy; LW Inc.</p>
            </div>
        </div>
    </div>
</footer>
