<!-- header01を配置したい<header>内の部分に、以下のように記述する
    <div id="header_corp01"></div>
    <script src="/scripts/header_corp01.js"></script>
-->

        <div class="container">
            <div class="row justify-content-center textheaderbig lh-lg">
                <div class="col-sm-12 text-sm-center col-md-8 text-md-start col-lg-7 text-lg-start">
                    ITで困ったとき、
                </div>
                <div class="col-12 text-center">
                    相談できる相手は
                </div>
                <div class="col-sm-12 text-sm-center col-md-8 text-md-end col-lg-7 text-lg-end">
                    いますか？
                </div>
            </div>
        </div>
