<!-- header01を配置したい会社情報の部分に、以下のように記述する
    <div id="paymentmethods"></div>
    <script src="/scripts/paymentmethods.js"></script>
-->

                        <div class="row justify-content-evenly">
                            <div class="col text-center">
                                <h2>決済方法</h2>
                            </div>
                        </div>
                        <div class="row justify-content-evenly">
                            <div class="col text-start">
                                <ul>
                                    <li>銀行振込（振込手数料はお客様負担）</li>
                                    <li>QRコード（PayPay、Alipay+、HIVEX）</li>
                                    <li>現金</li>
                                </ul>
                            </div>
                        </div>

