<!-- header01を配置したい会社情報の部分に、以下のように記述する
    <div id="principal"></div>
    <script src="/scripts/principal.js"></script>
-->

                        <div class="row justify-content-evenly">
                            <div class="col text-center">
                                <h2>代表</h2>
                            </div>
                        </div>
                        <div class="row justify-content-evenly text-start">
                            <div class="col text-left">
                                <ul>
                                    <li>臼元 晋 USUMOTO, Shin
                                        <ul>
                                            <li>― 略歴 ―
                                                <ul>
                                                    <li>基幹システム開発 → ひとり情シス</li>
                                                    <li>中小企業の事業所内のITまわり全般</li>
                                                    <li>ITによる業務効率化はライフワーク</li>
                                                    <li>ITの幅広い実務経験を活かし、株式会社LWを立ち上げ活動中</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

